<div id="board">
    <div id="quests">
        <span class="quest">
            <h3>Quest 1</h3>
            <div class="place-container">
                <img src="images/board_circle.png">
            </div>
        </span>
        <span class="quest">
            <h3>Quest 2</h3>
            <div class="place-container">
                <img src="images/board_circle.png">
            </div>
        </span>
        <span class="quest">
            <h3>Quest 3</h3>
            <div class="place-container">
                <img src="images/board_circle.png">
            </div>
        </span>
        <span class="quest">
            <h3>Quest 4</h3>
            <div class="place-container">
                <img src="images/board_circle.png">
            </div>
        </span>
        <span class="quest">
            <h3>Quest 5</h3>
            <div class="place-container">
                <img class="place" src="images/board_circle.png">
            </div>
        </span>
    </div>
    <img src="images/board.png"/>
</div>
