* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 62.5%;
    font-family: 'Junge', serif;
    background-color: black;
    color: white;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Cinzel Decorative', cursive;
}

h1 {
    text-align: center;
    vertical-align: middle;
    font-size: 5em;
    letter-spacing: 4px;
    font-weight: 400;
    height: 10%;
}

html, body, main {
    height: 100%;
}

.container {
    display: flex;
    height: 90%;
    flex-flow: row wrap-reverse;
    justify-content: center;
    align-content: flex-end;
    align-items: flex-end;

}

.card {
    position: relative;
    background: red;
    flex: 1;
    height: 100%;
    text-align: center;
    flex-basis: 300px;
}

.card p {
    font-size: 4em;
    margin-top: 20px;
}

.card-good {
    background: blue;
}

.board {
    display: flex;
    flex: 3;
    flex-basis: 550px;
    position: relative;
    height:100%;

    background: url('images/board.png') local no-repeat;
    background-size: cover;
    /*filter: blur(5px);*/
    /*-webkit-filter: blur(5px);*/
    /*-moz-filter: blur(5px);*/
    /*-ms-filter: blur(5px);*/

    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.quests {
  display: flex;
  align-items: center;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
}

.quest {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  flex-basis: 200px;
  margin: 15px 0;
}

.quest h3 {
    font-family: 'Cinzel', cursive;
    font-size: 3em;
    font-weight: 900;
    text-shadow: 1px 1px 0 black;
}

.vetos {
    display: inline-block;
    position: absolute;
    bottom: 5px;
    left: 5px;
}

.vetos img {
    position: relative;
    zoom: 0.5;
    margin: 0 5px;
}

.vetos img.current-veto {
    background: red;
}

.place-container {
    position: relative;
}

.place-count {
    position: absolute;
    top: 14%;
    left: 32%;
    font-size: 8em;
    font-family: 'Arvo', serif;
    margin: 0;
    padding: 0;
    text-shadow: -1px -1px 0px rgba(255,255,255,0.3), 1px 1px 0px rgba(0,0,0,0.8);
}
