* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 62.5%;
    font-family: 'Junge', serif;
    background-color: white;
    color: rgba(0, 0, 0, 1);
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Cinzel Decorative', cursive;
}

h1 {
    text-align: center;
    vertical-align: middle;
    font-size: 6em;
    letter-spacing: 4px;
    font-weight: 400;
    height: 11%;
    text-shadow: 1px 1px 6px grey;
    color: black;
}

h1.large {
    padding: 3.5em 0;
}

html, body, main {
    height: 100%;
}

.container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 90%;
    -webkit-flex-flow: row wrap-reverse;
        -ms-flex-flow: row wrap-reverse;
            flex-flow: row wrap-reverse;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-align-content: flex-end;
        -ms-flex-line-pack: end;
            align-content: flex-end;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
        -ms-flex-align: end;
            align-items: flex-end;
}

.card-container {
    position: relative;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1;
    height: 90%;
    text-align: center;
    -webkit-flex-basis: 300px;
        -ms-flex-preferred-size: 300px;

    flex-basis: 300px;
    margin: 0 6%;
    margin-bottom: 45px;

    color: white;
    -webkit-perspective: 1000;
            perspective: 1000;
}

.card-container p {
    font-size: 4em;
    margin-top: 20px;
    text-shadow: 2px 2px 0 black;
}

.card-good .card-front {
    background-image: url("images/good.png");
    max-height: 100%;
}

.card-container .card.flip {
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
}

.card {
    -webkit-transition: 0.6s;
            transition: 0.6s;
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
    position: relative;

    height: 100%;
}

.card-front, .card-back {
    background-size: 100%;
    background-repeat: no-repeat;
    background-color:black;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    border-radius: 15px;
    box-shadow: 2px 2px 12px grey;
}

.card-front {
    background-image: url("images/evil.png");
    z-index: 2;
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
}

.card-back {
    z-index: 2;
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
}

.player-picker h3 {
    font-size: 4em;
    margin: 20px;
}

.player-picker ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
    margin-bottom: 20px;
}

.player-picker li {
    -webkit-transition: 0.6s;
            transition: 0.6s;
    -webkit-box-flex: 1;
    -webkit-flex: 1 120px;
        -ms-flex: 1 120px;
            flex: 1 120px;
    display: inline-block;
    font-size: 2em;
    margin: 15px;
    padding: 10px 0;
    cursor: pointer;
}

.player-picker li.chosen {
    font-size: 2.2em;
    -webkit-flex-basis: 150px;
        -ms-flex-preferred-size: 150px;
            flex-basis: 150px;
    background: black;
    border-radius: 5px;
}

.player-picker a.picker-button {
    font-size: 2.5em;
    background: white;
    color: black;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
}

.veto-picker {
    font-size: 3.5em;
}

.veto-picker h3 {
    margin-bottom: 20px;
}

.veto-picker .veto-button {
    padding: 30px;
    margin: 10px;
    border-radius: 10px;
    cursor: pointer;
}

.veto-button.veto-reject {
    background-color: red;
}

.veto-button.veto-approve {
    background-color: green;
}

.board {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 3;
    -webkit-flex: 3;
        -ms-flex: 3;
            flex: 3;
    -webkit-flex-basis: 550px;
        -ms-flex-preferred-size: 550px;
            flex-basis: 550px;
    position: relative;
    height: 90%;

    border-radius: 15px;

    margin: 0 5%;
    margin-bottom: 45px;
    background: url('images/board.png') local no-repeat;
    background-size: cover;
    box-sizing: border-box;
    /*-webkit-filter: blur(5px);*/
    /*-moz-filter: blur(5px);*/
    /*-ms-filter: blur(5px);*/

    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    box-shadow: 2px 2px 12px grey;
    color: white;
}

ul.players {
    position: absolute;
    top: 20px;
    left: 10px;
}

ul.players li {
    display: inline-block;
    font-size: 2.3em;
    margin: 0 15px;
}

ul.players li.current {
    border-bottom: 2px solid white;
}

ul.players li.chosen:not(.current) {
    border-bottom: 2px solid orange;
}

.board .quests {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-align-content: center;
      -ms-flex-line-pack: center;
          align-content: center;
}

.board .quest {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-basis: 200px;
      -ms-flex-preferred-size: 200px;

  flex-basis: 140px;
  margin: 15px 0;
}

.board .quest h3 {
    font-family: 'Cinzel', cursive;
    font-size: 2.5em;
    font-weight: 900;
    text-shadow: 1px 1px 0 black;
}

.board .vetos {
    display: inline-block;
    position: absolute;
    bottom: 5px;
    left: 5px;
}

.board .vetos img {
    position: relative;
    zoom: 0.5;
    margin: 0 5px;
}

.board .vetos img.current-veto {
    background: red;
}

.board .place-container {
    position: relative;
}

.board .place-count {
    position: absolute;
    top: 16%;
    left: 33%;
    font-size: 7em;
    font-family: 'Arvo', serif;
    margin: 0;
    padding: 0;
    text-shadow: -1px -1px 0px rgba(255,255,255,0.3), 1px 1px 0px rgba(0,0,0,0.8);
}

.start-game {
    text-align: center;
}

.start-game .below {
    display: block;
}

.start-inputs {
    text-align: center;
    margin: 10px;
}

.start-inputs input {
    margin: 0.3em;
    font-family: 'Cinzel';
    margin-bottom: 2em;
    font-size: 18px;
    appearance: none;
    box-shadow: none;
    border-radius: none;
    padding: 10px;
    border: none;
    border-bottom: solid 2px #969696;
    font-weight: bold;
    transition: border 0.3s;
}

.start-inputs input:focus {
    border-bottom: solid 2px black;
    outline: none;
}

.player-button {
    font-family: 'Cinzel';
    font-weight: bold;
	-moz-box-shadow: 2px 2px 0px 0px #969696;
	-webkit-box-shadow: 2px 2px 0px 0px #969696;
	box-shadow: 2px 2px 0px 0px #969696;
	transition: all 0.2s;
	background-color:transparent;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;
	border:2px solid #ffffff;
	display:inline-block;
	cursor:pointer;
	color:#969696;
	font-size:18px;
	font-weight:bold;
	padding:10px 19px;
	text-decoration:none;
	margin: 5px;
}
.player-button:hover {
	background-color:transparent;
	color: black;
}
.player-button:active {
	position:relative;
	top:1px;
}

.place-container img {
    width: 130px;
}
